<!doctype html>
<html lang="en">
<head>
<title>Date-picker demo</title>
<base href="../">
<meta charset="utf8">
<link href="http://etv.err.ee/Content/less/theme/etv/bootstrap.less" rel="stylesheet">
<!-- Dependencies -->
<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/moment/min/moment-with-locales.min.js"></script>
<script>moment.locale('et');</script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/jquery-ui/ui/i18n/datepicker-et.js"></script>
<script src="bower_components/jquery-ui/ui/i18n/datepicker-ru.js"></script>
<script src="bower_components/jquery-ui/ui/i18n/datepicker-en-GB.js"></script>
<!-- Language -->
<script src="../language/module.js"></script>
<script src="../language/language-service.js"></script>
<!-- Date picker -->
<script src="module.js"></script>
<script src="datepicker-locale.js"></script>
<script src="datepicker-directive.js"></script>
<!-- Demo -->
<script>
(function (angular) {
	'use strict';

	angular.module('demo', ['battlesnake.date-picker'])
		.controller('demoController', demoController);

	function demoController($scope) {
		$scope.model = {
			title: 'Date-picker demo',
			date: moment(Date.parse('23 Feb 2015')),
			active: false
		}
		return;
	}

})(window.angular);
</script>
<style>
body {
	font-family: sans-serif;
	margin: 60px;
}
h1 {
	margin-bottom: 40px;
}
.trigger {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 40px;
	height: 40px;
	background: #ff87ce;
}
.trigger:hover {
	background: #ffc8f4;
}
</style>
</head>
<body ng-app="demo" ng-controller="demoController">
	<h1 ng-bind="model.title"></h1>
	<section style="position: relative">
		<strong>Selected date is {{ model.date.format('dddd DD MMMM YYYY') }}</strong>
		<div class="trigger" ng-click="model.active = !model.active"
			jqui-date-picker
			ng-model="model.date"
			date-picker-active="model.active"
			date-picker-align="top right">
		</div>
	</section>
</body>
</html>
