<!doctype html>
<html lang="en">
<head>
<meta charset="utf8">
<title>Date-picker demo</title>
<link rel="stylesheet" href="style.css">
</head>
<body data-ng-app="demo" data-ng-controller="demoController">
	<h1 data-ng-bind="model.title"></h1>
	<section style="position: relative">
		<strong>Selected date is {{ model.date.format('dddd DD MMMM YYYY') }}</strong>
		<div class="trigger"
			data-ng-click="model.active = !model.active"
			data-jqui-date-picker
			data-ng-model="model.date"
			data-date-picker-active="model.active"
			data-date-picker-locale="{{ model.locale }}"
			data-date-picker-align="top right">
		</div>
		<div>
			<select
				data-ng-options="locale.id as locale.name for locale in model.locales"
				data-ng-model="model.locale"></select>
		</div>
	</section>
	<script src="script.js"></script>
</body>
</html>
